/*
	Author  : Ankur Desai
	Website : aaa.aa.aaa
	Email   : ankurdesainew@gmail.com
	Filename: style.css
	Description: mobile-twitter
	Style guide:
	----------------
		0.Global Utility
		1.header
		2.wrapper	
			2.1 
		3.footer
*/

/*--Global Utility deails--*/
*{margin: 0; padding: 0;}

body{
	font: 12px/21px aerial;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,e8e8e8+100 */
background: #e8e8e8; /* Old browsers */
background: -moz-linear-gradient(top,  #e8e8e8 0%, #e8e8e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e8e8e8 0%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e8e8e8 0%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

}
#page{
	
}
#header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#454545+0,1a1a1a+100 */
background: #454545; /* Old browsers */
background: -moz-linear-gradient(top,  #454545 0%, #1a1a1a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #454545 0%,#1a1a1a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #454545 0%,#1a1a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
height: 50px;
}

#header div{
	float:left;
	color:white;
}

#header div h1{
	padding-top:12px;
	font-weight:bold;

}
#wrapper{
	margin: 0 auto;
	max-width: 470px;
	padding-top:8px;
	text-align:center;
}
#wrapper form input{
	width: 80%;
}
#username{
	border-radius: 7px 7px 0 0;
	height: 43px;
	border:1px solid #ccc;
	color: #ccc;
	box-sizing: border-box;
}
#password{
	border-radius: 0 0 7px 7px ;
	border:1px solid #ccc;
	border-top: 0;
	height: 43px;
	color: #ccc;
	box-sizing: border-box;
}
#submit{
	border-radius: 7px 7px 7px 7px;
	height: 43px;
	border:1px solid #ccc;
	margin-top: 12px;
	font: 20px/21px aerial;
	text-shadow: 1px 1px white;
	box-sizing: border-box;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffea62+0,ffaf27+100 */
background: #ffea62; /* Old browsers */
background: -moz-linear-gradient(top,  #ffea62 0%, #ffaf27 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffea62 0%,#ffaf27 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffea62 0%,#ffaf27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea62', endColorstr='#ffaf27',GradientType=0 ); /* IE6-9 */

}
#wrapper form p{
	font: 15px/21px aerial;
	color: grey;
	margin:20px 0 20px 0;
	text-shadow: 1px 1px white;
}
	
}
#hr{
    color:#CCC;
    background-color:#CCC;
}
#footer{
	margin: 0 auto;
	text-align: center;
	font: 15px/21px aerial;
	color: grey;
	margin:20px 0 20px 0;
	text-shadow: 1px 1px white;
	
}




